 
{% extends "layout.html" %}
{% block content %}
    <h1>Add data</h1>
    <form class="col md-1 mr-auto ml-auto" method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <b>{{ form.begin.label(for="begin", class="col-sm-2 col-form-label") }}</b>
            {{ form.begin(id="begin", class="form-control form-control-sm col-md-2")}}
        </div>
        <div class="form-group">
            <b>{{ form.end.label(for="end", class="col-sm-2 col-form-label") }}</b>
            {{ form.end(id="end", class="form-control form-control-sm col-md-2")}}
        </div>
       
        <button type="submit" class="btn btn-dark">Add data</button>
    </form>
{% endblock content %}