{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="offset-5 col-md-6">
    <h2>ADD DATA</h2>
    </div>
    <div class="btn-group col-md-12 offset-3" role="group" aria-label="Basic example">
        <a class="nav-link btn btn-lg btn-dark col-md-2" href="{{ url_for('route_add_data', model_name='Sinus') }}">Sinus</a>
        <a class="nav-link btn btn-lg btn-dark col-md-2" href="{{ url_for('route_add_data', model_name='Cosinus') }}">Cosinus</a>
        <a class="nav-link btn btn-lg btn-dark col-md-2" href="{{ url_for('route_add_data', model_name='SquareRoot') }}">Square root</a>
    </div>
</div>
{% endblock content %}