{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="offset-3 col-md-6">
        <h1>Append new data</h1>
    </div>
    
    <div class="btn-group col-md-12 " role="group" aria-label="Basic example">
        <a id="link-to-sinus-model" class="nav-link btn btn-lg btn-dark col-md-2" href="{{ url_for('route_add_data', model_name='Sinus') }}">Sine</a>
        <a id="link-to-cosinus-model" class="nav-link btn btn-lg btn-dark col-md-2" href="{{ url_for('route_add_data', model_name='Cosinus') }}">Cosine</a>
        <a id="link-to-sqrt-model" class="nav-link btn btn-lg btn-dark col-md-2" href="{{ url_for('route_add_data', model_name='SquareRoot') }}">Square root</a>
        <a id="link-to-exp-model" class="nav-link btn btn-lg btn-dark col-md-2" href="{{ url_for('route_add_data', model_name='Exponential') }}">Exponential</a>
        <a id="link-to-square-model" class="nav-link btn btn-lg btn-dark col-md-2" href="{{ url_for('route_add_data', model_name='SquareFunc') }}">Square</a>
        <a id="link-to-custom-model" class="nav-link btn btn-lg btn-dark col-md-3" href="{{ url_for('route_add_data', model_name='CustomEquation') }}">Custom</a>
    </div>
    <div class="col-md-12" >
        <img id="show-data-main-image" class="w-100 h-100 mr-auto ml-auto col-md-12" src="{{ url_for('static', filename='main_qmark.png') }}" >
    </div>
</div>
{% endblock content %}