<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<meta name="author" content="Bartłomiej Długosz">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        const img_qmark = "{{ url_for('static', filename='main_qmark.png') }}"
        const img_sine = "{{ url_for('static', filename='main_sine.png') }}"
        $(function() {
            $('#link-to-sinus-model').hover(function() {
                $('#show-data-main-image').attr('src', img_sine);
            }/*
        , function() {
                $('#show-data-main-image').attr('src', img_qmark);
            }
        */);
        });

        const img_cosine = "{{ url_for('static', filename='main_cosine.png') }}"
        $(function() {
            $('#link-to-cosinus-model').hover(function() {
                $('#show-data-main-image').attr('src', img_cosine);
            });
        });
        
        const img_sqrt = "{{ url_for('static', filename='main_sqrt.png') }}"
        $(function() {
            $('#link-to-sqrt-model').hover(function() {
                $('#show-data-main-image').attr('src', img_sqrt);
            });
        });

        const img_exp = "{{ url_for('static', filename='main_exp.png') }}"
        $(function() {
            $('#link-to-exp-model').hover(function() {
                $('#show-data-main-image').attr('src', img_exp);
            });
        });

        const img_square = "{{ url_for('static', filename='main_squarefunc.png') }}"
        $(function() {
            $('#link-to-square-model').hover(function() {
                $('#show-data-main-image').attr('src', img_square);
            });
        });

        const img_file = "{{ url_for('static', filename='main_fromfile.png') }}"
        $(function() {
            $('#link-to-file-model').hover(function() {
                $('#show-data-main-image').attr('src', img_file);
            });
        });

        const img_custom = "{{ url_for('static', filename='main_custom.png') }}"
        $(function() {
            $('#link-to-custom-model').hover(function() {
                $('#show-data-main-image').attr('src', img_custom);
            });
        });
    </script>
</head>
<body>
    <div class="row" style="margin-top: 100px;"></div>
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-md">
            <div class="navbar-main-menu col-md-6">
                <div class="btn-group col-md-2">
                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Libraries
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('route_matplotlib') }}">Matplotlib</a>
                        <a class="dropdown-item" href="{{ url_for('route_seaborn') }}">Seaborn</a>
                        <a class="dropdown-item" href="{{ url_for('route_bokeh') }}">Bokeh</a>
                        <a class="dropdown-item" href="{{ url_for('route_plotly') }}">Plotly</a>
                        <a class="dropdown-item" href="{{ url_for('route_pygal') }}">Pygal</a>
                    </div>
                </div>
                <div class="btn-group col-md-2">
                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Data
                    </button>
                    <div class="dropdown-menu">
                        <a class="nav-link" href="{{ url_for('route_show_data_main') }}">Show</a>
                        <a class="nav-link" href="{{ url_for('route_add_data_main') }}">Add</a>
                    </div>
                </div>
                <a class="btn btn-lg btn-secondary col-md-2" href="{{ url_for('route_summary') }}" >Summary</a>
            </div>
            <div id="banner" class="carousel slide col-md-2 " data-ride="carousel" data-interval="2100" >
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="w-100 mr-auto ml-auto" style="height:80px; margin: 0 auto" src="{{ url_for('static', filename='wallpaper_1.png') }}" >
                    </div>
                    <div class="carousel-item">
                        <img class="w-100 mr-auto ml-auto" style="height:80px; margin: 0 auto" src="{{ url_for('static', filename='wallpaper_2.png') }}" >
                    </div>
                    <div class="carousel-item">
                        <img class="w-100 mr-auto ml-auto" style="height:80px; margin: 0 auto" src="{{ url_for('static', filename='wallpaper_3.png') }}" >
                    </div>
                    <div class="carousel-item">
                        <img class="w-100 mr-auto ml-auto" style="height:80px; margin: 0 auto" src="{{ url_for('static', filename='wallpaper_4.png') }}" >
                    </div>
                </div>
            </div>
            <span id="header-logo" class="badge badge-secondary col-md-4">
                <a id="header-logo-link" class="nav-link" href="{{ url_for('home') }}">
                    <h1 style="color: #fdb121;">
                        <img width="32px" height="32px" src="{{ url_for('static', filename='home.png') }}">
                        <i>
                            <span id="span-header" class="badge badge-dark ">Interactive tool</span>
                            <u>to draw charts</u>
                        </i>
                    </h1>
                </a>
            </span>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        {% block content %}{% endblock %}
        
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
</body>

</html>