{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="offset-3 col-md-6">
    <h1>SHOW DATA</h1>
    </div>
    <div class="btn-group col-md-12 " role="group" aria-label="Basic example">
        <a class="nav-link btn btn-lg btn-dark col-md-2" href="{{ url_for('route_show_data', model_name='Sinus') }}">Sinus</a>
        <a class="nav-link btn btn-lg btn-dark col-md-2" href="{{ url_for('route_show_data', model_name='Cosinus') }}">Cosinus</a>
        <a class="nav-link btn btn-lg btn-dark col-md-2" href="{{ url_for('route_show_data', model_name='SquareRoot') }}">Square root</a>
        <a class="nav-link btn btn-lg btn-dark col-md-2" href="{{ url_for('route_show_data', model_name='Exponential') }}">Exponential</a>
        <a class="nav-link btn btn-lg btn-dark col-md-2" href="{{ url_for('route_show_data', model_name='SquareFunc') }}">SquareFunc</a>
        <a class="nav-link btn btn-lg btn-dark col-md-2" href="{{ url_for('route_show_data', model_name='FileDataPoint') }}">Data from file</a>
    </div>
</div>
{% endblock content %}