{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="btn-group col-md-12" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark" class="btn btn-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="card-matplotlib">Matplotlib</button>
        <button type="button" class="btn btn-dark" class="btn btn-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="card-seaborn">Seaborn</button>
        <button type="button" class="btn btn-dark" class="btn btn-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="card-bokeh">Bokeh</button>
        <button type="button" class="btn btn-dark" class="btn btn-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="card-plotly">Plotly</button>
        <button type="button" class="btn btn-dark" class="btn btn-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="card-pygal">Pygal</button>
    </div>
</div>
{% endblock content %}