{% extends "layout.html" %}
{% block content %}
<div class="row">
    <!-- MathJax - equation -->
    <div class="col-md-12" class="btn btn-lg btn-dark">
        {% if model_name == 'Sinus' %}
            <h3>$$y = { {{ coefs[0] }}\sin{ ({{ coefs[1] }} x - {{ coefs[2] }})} + {{ coefs[3] }}}$$</h3>
        {% elif model_name == 'Cosinus' %}
            <h3>$$y = { {{ coefs[0] }}\cos{ ({{ coefs[1] }} x - {{ coefs[2] }})} + {{ coefs[3] }}}$$</h3>
        {% elif model_name == 'SquareRoot' %}
            <h3>$$y = { {{ coefs[0] }}\sqrt{ {{ coefs[1] }} x - {{ coefs[2] }}} + {{ coefs[3] }}}$$</h3>
        {% elif model_name == 'Exponential' %}
            <h3>$$y = { {{ coefs[0] }}e^{ {{ coefs[1] }} (x - {{ coefs[2] }})} + {{ coefs[3] }}}$$</h3>
        {% elif model_name == 'SquareFunc' %}
            <h3>$$ y = { {{coefs[0]}}({x - {{coefs[1]}}})^2 + {{coefs[2]}}} $$</h3>
        {% elif model_name == 'FileDataPoint' %}
            <h3>Data from file {{ filename }} </h3>
        {% endif %}
    </div>

    <!-- Data table -->
    <div class="table-wrapper-scroll-y table-scrollbar col-md-3" position="fixed" id="points-table">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <td scope="col" align="center">
                        <form action="{{ url_for('route_delete_all_points', model_name=model_name) }}" method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete all">
                        </form>
                    </td>
                    <th scope="col" text-align="center">
                        x
                    </th>
                    <th scope="col" text-align="center">
                        y
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if points|length > 0 %}
                {% for point in points %}
                    <tr>
                        <td scope="row" align="center">
                            <form action="{{ url_for('route_delete_point', model_name=model_name, point_id=point.id) }}" method="POST">
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </td>
                        <td scope="row">
                            {{ point.x }}
                        </td>
                        <td scope="row">
                            {{ point.y }}
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td scope="row" >
                            {% if model_name=='FileDataPoint' %}
                                <form action="{{ url_for('route_add_data_from_file') }}" method="POST">
                                    <input class="btn btn-danger" type="submit" value="Add data">
                                </form>  
                            {% else %}
                                <form action="{{ url_for('route_add_data', model_name=model_name) }}" method="POST">
                                    <input class="btn btn-danger" type="submit" value="Add data">
                                </form>
                            {% endif %}
                        </td>
                        <td scope="row">
                            N/A
                        </td>
                        <td scope="row">
                            N/A
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <!-- Charts menu -->
    <div class="col-md-9">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button id="btn-show-chart-matplotlib" type="button" class="btn btn-dark" class="btn btn-secondary" data-toggle="collapse" data-target="#card-matplotlib" aria-expanded="false" aria-controls="card-matplotlib">Matplotlib</button>
            <button id="btn-show-chart-seaborn" type="button" class="btn btn-dark" class="btn btn-secondary" data-toggle="collapse" data-target="#card-seaborn" aria-expanded="false" aria-controls="card-seaborn">Seaborn</button>
            <button id="btn-show-chart-bokeh" type="button" class="btn btn-dark" class="btn btn-secondary" data-toggle="collapse" data-target="#card-bokeh" aria-expanded="false" aria-controls="card-bokeh">Bokeh</button>
            <button id="btn-show-chart-plotly" type="button" class="btn btn-dark" class="btn btn-secondary" data-toggle="collapse" data-target="#card-plotly" aria-expanded="false" aria-controls="card-plotly">Plotly</button>
            <button id="btn-show-chart-pygal" type="button" class="btn btn-dark" class="btn btn-secondary" data-toggle="collapse" data-target="#card-pygal" aria-expanded="false" aria-controls="card-pygal">Pygal</button>
        </div>
        <div class="collapse" id="card-matplotlib">
            <div class="row card-group bg-dark text-white">
                <div class="card col-md-8 ">
                    <div class="card-body text-white bg-dark" id="card-matplotlib-ss">
                        <img src="{{ url_for('route_plot_matplotlib', model_name=model_name, options=matplotlib_options) }}">
                    </div>
                </div>
                <div class="card col-md-4 text-primary">
                    <div class="card-body text-white bg-dark">
                        <form class="form-horizontal col-md-12" method="POST" action="{{ url_for('route_change_options', model_name=model_name) }}">
                            {% if matplotlib_form is defined %}
                                {{ matplotlib_form.hidden_tag() }}
                                <div class="form-group">
                                    <b>{{ matplotlib_form.color.label(for="Color") }}</b>
                                    {{ matplotlib_form.color(id="color") }}
                                </div>
                                <div class="form-group">
                                    <b>{{ matplotlib_form.line_width.label(for="Line width:") }}</b>
                                    {{ matplotlib_form.line_width(id="line_width") }}
                                </div>
                                <div class="form-group">
                                    <b>{{ matplotlib_form.line_style.label(for="Line style:") }}</b>
                                    {{ matplotlib_form.line_style(id="line_style") }}
                                </div>
                                <div class="form-group">
                                    <b>{{ matplotlib_form.marker.label(for="Marker") }}</b>
                                    {{ matplotlib_form.marker(id="marker") }}
                                </div>
        
        
                                <div class="form-group">
                                    <b>{{ matplotlib_form.flag_scatter_plot.label(for="Scatter:") }}</b>
                                    {{ matplotlib_form.flag_scatter_plot(id="flag_scatter_plot") }}
                                </div>
                                <div class="form-group">
                                    <b>{{ matplotlib_form.flag_show_grid.label(for="Grid:") }}</b>
                                    {{ matplotlib_form.flag_show_grid(id="flag_show_grid") }}
                                </div>
                                <div class="form-group">
                                    <b>{{ matplotlib_form.flag_logscale_y.label(for="Log scale:") }}</b>
                                    {{ matplotlib_form.flag_logscale_y(id="flag_logscale_y") }}
                                </div>
                                <div class="form-group">
                                    <b>{{ matplotlib_form.flag_show_legend.label(for="Show legend:") }}</b>
                                    {{ matplotlib_form.flag_show_legend(id="flag_show_legend") }}
                                </div>
                            {% endif %}
                            <button type="submit" class="col-md-12 btn btn-info">Change chart</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="row text-white bg-dark">
                
            </div>
            <div class="row text-white bg-dark mb-2">
                <form class="col-md-4 mt-2 mb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='matplotlib', model_name=model_name, save_img='0', save_src='1') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">code</button>
                </form>
                <form class="col-md-4 mt-2 mb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='matplotlib', model_name=model_name, save_img='1', save_src='0') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">image</button>
                </form>
                <form class="col-md-4 mt-2 mb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='matplotlib', model_name=model_name, save_img='1', save_src='1') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">code & image</button>
                </form>
            </div>
        </div>
        <div class="collapse" id="card-seaborn">
            <div class="row card card-body text-white bg-dark" id="card-seaborn-ss">
                <img src="{{ url_for('route_plot_seaborn', model_name=model_name) }}">
                </br>
            </div>
            <div class="row text-white bg-dark mb-2">
                <form class="col-md-4 pt-2 pb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='seaborn', model_name=model_name, save_img='0', save_src='1') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">code</button>
                </form>
                <form class="col-md-4 pt-2 pb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='seaborn', model_name=model_name, save_img='1', save_src='0') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">image</button>
                </form>
                <form class="col-md-4 pt-2 pb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='seaborn', model_name=model_name, save_img='1', save_src='1') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">code & image</button>
                </form>
            </div>
        </div>
        <div class="collapse" id="card-bokeh">
            <div class="row card card-body text-white bg-dark" id="card-bokeh-ss">
                {{ div_bokeh | safe }}
                {{ script_bokeh | safe }}
            </div>
            <div class="row text-white bg-dark mb-2">
                <form class="col-md-4 pt-2 pb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='bokeh', model_name=model_name, save_img='0', save_src='1') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">code</button>
                </form>
                <form class="col-md-4 pt-2 pb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='bokeh', model_name=model_name, save_img='1', save_src='0') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">image</button>
                </form>
                <form class="col-md-4 pt-2 pb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='bokeh', model_name=model_name, save_img='1', save_src='1') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">code & image</button>
                </form>
            </div>
        </div>
        <div class="collapse" id="card-plotly">
            <div class="row card card-body text-white bg-dark" id="card-plotly-ss">
                {{ script_plotly | safe}}
                {{ div_plotly | safe }}
                </br>
            </div>
            <div class="row text-white bg-dark mb-2">
                <form class="col-md-4 pt-2 pb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='plotly', model_name=model_name, save_img='0', save_src='1') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">code</button>
                </form>
                <form class="col-md-4 pt-2 pb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='plotly', model_name=model_name, save_img='1', save_src='0') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">image</button>
                </form>
                <form class="col-md-4 pt-2 pb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='plotly', model_name=model_name, save_img='1', save_src='1') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">code & image</button>
                </form>
            </div>
        </div>
        <div class="collapse" id="card-pygal">
            <div class="row card card-body text-white bg-dark" id="card-pygal-ss">
                <embed type="image/svg+xml" src= {{ src_pygal | safe }} />
                </br>
            </div>
            <div class="row text-white bg-dark mb-2">
                <form class="col-md-4 pt-2 pb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='pygal', model_name=model_name, save_img='0', save_src='1') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">code</button>
                </form>
                <form class="col-md-4 pt-2 pb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='pygal', model_name=model_name, save_img='1', save_src='0') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">image</button>
                </form>
                <form class="col-md-4 pt-2 pb-2" method="GET" action="{{ url_for('route_download_src_img', library_name='pygal', model_name=model_name, save_img='1', save_src='1') }}">
                    <button type="submit" class="col-md-12 btn btn-danger text-light">code & image</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../js/download.js"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.0.1.min.js" crossorigin="anonymous"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock content %}