{% extends "layout.html" %}
{% block content %}
    <h1>Summary</h1>
    <div class="table-wrapper-scroll-y table-scrollbar col-md-12">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">
                        Functionality
                    </th>
                    <th scope="col">
                        Matplotlib
                    </th>
                    <th scope="col">
                        Seaborn
                    </th>
                    <th scope="col">
                        Bokeh
                    </th>
                    <th scope="col">
                        Plotly
                    </th>
                    <th scope="col">
                        Pygal
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">
                        <b>Line width</b>
                    </td>
                    <td scope="row">
                        OK
                    </td>
                    <td scope="row">
                        OK
                    </td>
                    <td scope="row">
                        OK
                    </td>
                    <td scope="row">
                        OK
                    </td>
                    <td scope="row">
                        OK
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <b>Change color</b>
                    </td>
                    <td scope="row">
                        OK
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <b>Change style</b>
                    </td>
                    <td scope="row">
                        OK
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <b>Change marker</b>
                    </td>
                    <td scope="row">
                        OK
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <b>Grid</b>
                    </td>
                    <td scope="row">
                        OK
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <b>Logarithmic scale</b>
                    </td>
                    <td scope="row">
                        OK
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                    <td scope="row">
                        ---
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}