{% extends "layout.html" %}
{% block content %}
    <h1>Summary</h1>
    <div class="table-wrapper-scroll-y table-scrollbar col-md-12">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">
                    </th>
                    <th scope="col">
                        Matplotlib
                    </th>
                    <th scope="col">
                        Seaborn
                    </th>
                    <th scope="col">
                        Bokeh
                    </th>
                    <th scope="col">
                        Plotly
                    </th>
                    <th scope="col">
                        Pygal
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">
                        <b>Fun1</b>
                    </td>
                    <td scope="row">
                        Matplotlib1
                    </td>
                    <td scope="row">
                        Seaborn
                    </td>
                    <td scope="row">
                        Bokeh
                    </td>
                    <td scope="row">
                        Plotly
                    </td>
                    <td scope="row">
                        Pygal
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <b>Fun2</b>
                    </td>
                    <td scope="row">
                        Matplotlib1
                    </td>
                    <td scope="row">
                        Seaborn
                    </td>
                    <td scope="row">
                        Bokeh
                    </td>
                    <td scope="row">
                        Plotly
                    </td>
                    <td scope="row">
                        Pygal
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <b>Fun3</b>
                    </td>
                    <td scope="row">
                        Matplotlib1
                    </td>
                    <td scope="row">
                        Seaborn
                    </td>
                    <td scope="row">
                        Bokeh
                    </td>
                    <td scope="row">
                        Plotly
                    </td>
                    <td scope="row">
                        Pygal
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}